/*==================== PORTFOLIO ====================*/
.portfolio {
  &__container {
    overflow: initial;
  }

  &__content {
    padding: 0 1.5rem;
    @media screen and (min-width: 568px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }

  &__img {
    width: 265px;
    border-radius: 0.5rem;
    justify-self: center;
    @media screen and (min-width: 768px) {
      width: 350px;
    }
    @media screen and (min-width: 1024px) {
      width: 600px;
    }
  }

  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }

  &__description {
    margin-bottom: var(--mb-1);
  }

  &__button:hover .button__icon {
    transform: translateX(0.25rem);
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -2.5rem;
  }
  .swiper-pagination-bullet-active,
  .swiper-button-prev,
  .swiper-button-next {
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--first-color);
  }

  .swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--first-color);
  }
}
